body{
    color:#666;
}
section{
    padding-block: 30px;
}

h1{
    font-size: 1.8rem;
    width: 100%;
}
p{
    font-weight: lighter;
    font-size: 1.4rem;
    text-align: justify;
}
p.item{
    text-align: center;
}
a{
    text-decoration: none;
    color: #666;
    transition: 0.5s;
}
a:hover{
    color: black;
    transition: 0.5s;
}
.topo{
    background-color: #dadada;
    height: 90px;
    color: #666;
}
/* AREA DO TPO */
.topo__area{
    max-width: 90%;
    background-color: none;
}
/* LARGURA DAS DEMAIS AREAS */
.area{
    max-width: 90%;
    background-color: none;
}
.topo__area__logo{
   font-size: 1.5rem;
   font-weight: bolder;
   background-color: none;
}
.topo__area__links{
    font-size: 0.8rem;
    background-color: none;
}
.topo__area__links__link{
    display: none;
}
/* Sessões */
    /* Cores da sessão */

.cor1{
    background-color:#dadada;
}
.cor2{
    background-color: #F5F5F5;
}
    

.banner__area__textos{
    order: 1;
}
.banner__area__textos__links{
    font-weight: bold;
    font-size: 1.2rem;
}

.banner__area__foto__foto{
    
    max-width: 400px;
    box-shadow: 1px 1px 5px rgb(90, 90, 90);
    border-radius: 100%;
}
.tituloDados{
    margin-bottom: 20px;
    text-align: center;
}
.itens{
    width: 150px;
    height: 150px;
    flex-grow: 1;
}

.item{
    font-weight: bolder;
    color: #666;

}

/* POR ENQUANTO */
.icone{
    display: none;
}
/* ------------------ */
/* experiencia */

.experiencia__item{
    max-width: 100%;
}
.experiencia__item__img{
    max-width: 100%;
}
.experiencia__botao{
    width: 150px;
    border: none;
    padding: 10px;
    transition: 0.5s;
}
.experiencia__botao:hover{
    background-color: #9c9c9c;
    transition: 0.5s;
}

.experiencia__item__descricao{
    text-align: center;
}
.formulario{
    min-width: 300px;
}
.formulario__campo{
    width: 100%;
    height: 50px;
    border: 1px solid rgb(69, 150, 170);
    flex-grow: 1;
    border-radius: 5px;
}
.imgContato{
    max-width: 50%;
    display: none;
}
footer{
    height: 120px;
    background-color: #666;
}

.textoRodape{
    font-size: 0.8rem;
}


@media(min-width: 960px){
    .area{
        max-width: 1100px;
        background-color: none;
    }
    .topo__area__links{
        font-size: 1rem;
        background-color: none;
    }
    .topo__area__links__link{
        display: block;
    }
    .banner{
        background-color: none;
    }
    .banner__area__foto{
        order: 2;
    }

    .banner__area__foto__foto{
        width: 1100px;
        max-width: 100%;
        border-radius: 5px;
        max-width: 100%;        
    }
    .imgContato{
        max-width: 50%;
        display: block;
    }
    .formulario{
        width: 100%;
    }
}