html{
    scroll-behavior: smooth;
}
body{
    color:#666;
}
section{
    padding-block: 30px;
    min-height: 80vh;
}

h1{
    font-size: 1.8rem;
    width: 100%;
}
p{
    font-weight: lighter;
    font-size: 1.4rem;
    text-align: justify;
}
p.item{
    text-align: center;
}
a{
    text-decoration: none;
    color: #696969;
    transition: 0.5s;
}
a:hover{
    color: rgb(190, 190, 190);
    transition: 0.5s;
}
.topo{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 80px;
    color: #666;
    
}

/* LARGURA DAS DEMAIS AREAS */
.area{
    max-width: 90%;
    background-color: none;
}
.topo__area__logo{
   font-size: 1.5rem;
   font-weight: bolder;
   background-color: red;
}
.topo__area__links{
    font-size: 0.8rem;
    background-color: none;
    font-size: 2rem;
}
.topo__area__links__link{
    display: none;
    font-size: 1.2rem;
}
/* Sessões */
    /* Cores da sessão */

.cor1{
    background-color:#dadada;
}
.cor2{
    background-color: #F5F5F5;
}
    
.banner{
    margin-top: 80px;
}
.banner__area__textos{
    order: 1;
}
.banner__area__textos__links{
    font-weight: bold;
    font-size: 1.2rem;
}

.banner__area__foto__foto{
    margin-bottom: 10px;
    max-width: 100%;
    
}
.tituloDados{
    margin-bottom: 20px;
    text-align: center;
}
.itens{
    width: 150px;
    height: 150px;
    flex-grow: 1;
}
.itens:hover{
    transition: 0.5s;
    background-color: rgb(250, 219, 179);
}

.item{
    font-weight: bolder;
    color: #666;

}

/* POR ENQUANTO */
.icone{
    display: none;
}
/* ------------------ */
/* experiencia */

.experiencia__item{
    max-width: 100%;
    min-height: 80vh;

}
.experiencia__item__img{
    max-width: 100%;
}
.experiencia__botao{
    cursor: pointer;
    min-width: 150px;
    border: none;
    padding: 10px;
    font-size: 1rem;
    transition: 0.5s;
}
.experiencia__botao:hover{
    background-color: #9c9c9c;
    transition: 0.5s;
}

.experiencia__item__descricao{
    text-align: center;
    font-size: 3rem;
}
.formulario{
    min-width: 300px;
}
.formulario__campo{
    width: 100%;
    height: 50px;
    border: 1px solid rgb(69, 150, 170);
    flex-grow: 1;
    border-radius: 5px;
}
.imgContato{
    max-width: 50%;
    display: none;
}
footer{
    height: 120px;
    background-color: #666;
}

.textoRodape{
    font-size: 0.8rem;
}


@media(min-width: 960px){
  
    .area{
        max-width: 1100px;
        background-color: none;
        
    }
    .topo__area__logo{
        display: none;
    }
    .topo__area__links{
        font-size: 1rem;
        background-color: none;
    }
    .topo__area__links__link{
        display: block;
    }
    .banner{
        background-color: none;
    }
    .banner__area__foto{
        order: 2;
        
    }

    .banner__area__foto__foto{
        width: 1100px;
        max-width: 100%;
        border-radius: 5px;
        max-width: 100%;
          
    }
    .imgContato{
        max-width: 50%;
        display: block;
    }
    .formulario{
        width: 100%;
    }
}