.topo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    
}
.topo__area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}
/* Configurações das areas */
.area{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    gap: 25px;
}
.topo__area__links{
    display: flex;
    gap: 50px;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner__area__textos{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.banner__area__textos__links{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.area{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-grow: 0;
    gap: 10px;
    flex-wrap: wrap;
}
.itens{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.experiencia__area{
    display: flex;
    flex-direction: row;
    gap: 80px;
}
.experiencia__item{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.experiencia__botoes{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;

}
.contatoArea{
    display: flex;
    flex-direction: column;
    gap: 30px;    
}
.formulario{
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.formImg{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.redes{
    display: flex;
    gap: 30px;
}
.redes img{
    width: 50px;
}
